<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pinnoocle.weshare">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mine.PersonalDataActivity" />
        <activity android:name=".mine.AccountBalanceActivity" />
        <activity android:name=".mine.AvailableBalanceActivity" />
        <activity android:name=".mine.MyCouponsActivity" />
        <activity android:name=".mine.OpenMembershipActivity" />
        <activity android:name=".mine.MyCollectionActivity" />
        <activity android:name=".mine.ShopCarActivity" />
        <activity android:name=".mine.AdviseActivity" />
        <activity android:name=".mine.MyFriendsActivity" />
        <activity android:name=".weshop.GoodsListActivity" />
        <activity android:name=".mine.AddressActivity" />
        <activity android:name=".mine.AddAddressActivity" />
        <activity android:name=".weshop.GoodsDetailActivity" />
        <activity android:name=".mine.OrderDetailsActivity" />
        <activity android:name=".mine.OrderActivity" />
        <activity
            android:name=".mine.OrderConfirmActivity"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden"></activity>

        <activity android:name=".weshop.GroupSeckillActivity" />
        <activity android:name=".weshop.AppraiseActivity" />
    </application>

</manifest>